<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.smartsmsssolutions.sms_app"
    version   = "0.0.1">

<name>SMS App</name>

<description>
Process SMS to a given URL.
</description>

<author href="http://smartsmssolutions.com" email="smartsmssolutions.com">
HoRLaR IT Solutions
</author>

<plugin name="SplashScreen" value="org.apache.cordova.SplashScreen"/>

</widget>
